.repo-container {
  margin-bottom: 10px;
  border: solid 1px #000000;
 
  padding-left: 10px;
  display: flex;
  align-items: start;
}

.repo-head {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.repo-description {
  font-size: 20px;
  color: black;
  margin-right: 10px;
  border: solid 1px black;
  padding: 10px;
}

.repo-image {
  width: 200px;
  margin: 10px;
}

.descriptions {
  display: flex;
}

.repo-details-container {
}
